distro: bionic
language: python
python:
  - "3.8"
env:
  - PYTHONUNBUFFERED=1

jobs:
  include:
    - name: pylint
      before_install: pip3 install pylint==2.4.1
      script:
        - env "PYTHONPATH=osbuild" pylint osbuild-ostree sign-commit
    - name: build
      before_install: sudo apt-get install -y systemd-container rpm ostree gpg
      script:
        - sudo env "PATH=$PATH" python3 osbuild-ostree build
